<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong><a href="http://www.sice.com/lineas-de-negocio/control-de-procesos" target="_blank">SICE México</a>. Copyright &copy; {{ "now"|date("Y") }}</strong> All rights reserved.
</footer>